<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
    <link rel="stylesheet" href="home.css">

</head>

<body>
    <%- include('./partials/header') -%>
    <% if(user) { %>
        <p>Welcome, <% user.email %></p>
        <button><a class="logout-btn" href="/logout">Log out</a></button>
        <% } %>
    <%- include('./partials/footer') -%>
</body>

</html>