<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Home</title>
    <link rel="stylesheet" href="home.css">

</head>

<body>
    <nav>
        <% if (user) { %>
            <a class="logout-btn" href="/logout">Log out</a>
            <% } else { %>
                <a class="signup-btn" href="/register">Sign up</a>
                <a class="login-btn" href="/login">Log in</a>
                <% } %>
    </nav>
</body>

</html>