<%- include('./partials/header') -%> 

<body>
    <header>
        <h1>Welcome to your profile <%= user.username %></h1>
    </header>
    <main>
            <img src="<%= user.thumbnail %>" />
            <p>This is your profile thumbnail</p>
    </main>
</body>

<%- include('./partials/footer') -%>