<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Error</title>
</head>

<body>
    <div style="display: flex; flex-direction: column; align-items: center; justify-content: center;">
        <img src="https://miro.medium.com/v2/resize:fit:1400/1*MXyMqcEJ6Se0SCWcYCKZTQ.jpeg" alt="Error"
            style="width: 100%; object-fit: cover;">
        <a href="/"
            style=" margin-top: 30px; text-decoration: none; border-radius: 20px; background: black; color: white; border: 0; text-transform: uppercase;
        font-weight: 700; font-size: 0.8em; display: block; padding: 15px 16px; letter-spacing: 2px; text-align: center;cursor: pointer;">
            Go Back
        </a>
    </div>
</body>

</html>