<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>User</title>
</head>
<style>
    .logout-btn {
        background-color: white;
        color: black;
        padding: 15px 25px 15px 25px;
        border-radius: 8px;
        margin-right: 20px;
        text-decoration: none;
        text-align: center;
        cursor: pointer;
        font-size: 17px;
    }

    .logout-btn:hover {
        background-color: lightskyblue;
        color: white;
        transform: scale(1.1);
    }
</style>

<body>
    <p style="color: green;">Successfully Logged In</p>
    <a class="logout-btn" href="/">Log out</a>
</body>

</html>