<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Register</title>
    <link href="https://cdn.jsdelivr.net/npm/remixicon@4.5.0/fonts/remixicon.css" rel="stylesheet" />
</head>

<style>
    @import url('https://fonts.googleapis.com/css2?family=Quicksand:wght@300;400;500;600;700&display=swap');

    * {
        margin: 0;
        padding: 0;
        box-sizing: border-box;
        font-family: 'Quicksand', Georgia, 'Times New Roman', Times, serif;
    }

    form {
        width: 480px;
        margin: 0 auto;
        padding: 30px;
        margin-top: 55px;
        box-shadow: 2px 2px 3px rgba(0, 0, 0, 0.5);
        border-radius: 10px;
        background: white;
    }

    .signup {
        text-align: center;
    }

    input {
        padding: 10px 12px;
        border-radius: 4px;
        border: 1px solid #ddd;
        font-size: 1em;
        width: 100%;
    }

    label {
        display: block;
        font-weight: bold;
        margin: 20px 0 10px;
    }

    .submit-btn-signup {
        margin-top: 30px;
        border-radius: 20px;
        background: black;
        color: white;
        border: 0;
        text-transform: uppercase;
        font-weight: 700;
        font-size: 0.8em;
        display: block;
        padding: 15px 16px;
        letter-spacing: 2px;
        text-align: center;
        cursor: pointer;
    }

    .submit-btn-signup:hover {
        transition: 0.4ms ease-in;
        transform: scale(1.02);
    }

    #message {
        margin: 10px 0;
        display: none;
        background: whitesmoke;
        padding: 15px 20px;
        border-radius: 8px;
        font-size: 17px;
        font-weight: 600;
    }

    #eyeicon1 {
        position: absolute;
        font-size: 18px;
        margin-left: -25px;
        margin-top: 12px;
    }

    #eyeicon2 {
        position: absolute;
        font-size: 18px;
        margin-left: -25px;
        margin-top: 12px;
    }

    .account {
        margin-top: 25px;
        font-size: 18px;
        font-weight: 600;
    }

    .btn-login {
        margin-top: 20px;
        border-radius: 30px;
        background-color: limegreen;
        color: white;
        border: 0;
        text-transform: uppercase;
        text-decoration: none;
        font-weight: 700;
        font-size: 0.9em;
        display: block;
        padding: 15px 16px;
        letter-spacing: 2px;
        text-align: center;
        cursor: pointer;
    }

    .btn-login:hover {
        transition: 0.5ms ease-in-out;
        transform: scale(1.01);
    }
</style>

<body>
    <form action="/register" method="post" onsubmit="handleRegistrationSubmit()">
        <h2 class="signup">Register</h2>

        <label for="name">Name</label>
        <input type="text" name="name" placeholder="Name" required>

        <label for="email">Email</label>
        <input type="email" name="email" placeholder="Email" required>

        <div>
            <label for="password">Password</label>
            <input type="password" name="password" placeholder="Password" id="password" required>
            <i class="ri-eye-off-fill" id="eyeicon1"></i>
        </div>

        <div>
            <label for="confirmpassword">Confirm Password</label>
            <input type="password" name="confirmpassword" placeholder="Confirm Password" id="confirmpassword" required>
            <i class="ri-eye-off-fill" id="eyeicon2"></i>
        </div>

        <p id="message"></p>

        <button type="submit" class="submit-btn-signup">Submit</button>

        <p class="account">Already have an account? Then,</p>
        <a href="/login" class="btn-login">Log In</a>
    </form>
</body>

<script>

    document.getElementById('eyeicon1').addEventListener('click', function () {
        const passwordField = document.getElementById('password');
        const type = passwordField.type === 'password' ? 'text' : 'password';
        passwordField.type = type;
        this.classList.toggle('ri-eye-fill');
        this.classList.toggle('ri-eye-off-fill');
    });

    document.getElementById('eyeicon2').addEventListener('click', function () {
        const passwordField = document.getElementById('confirmpassword');
        const type = passwordField.type === 'password' ? 'text' : 'password';
        passwordField.type = type;
        this.classList.toggle('ri-eye-fill');
        this.classList.toggle('ri-eye-off-fill');
    });

    document.getElementById('confirmpassword').addEventListener('input', function () {
        const password = document.getElementById('password').value;
        const confirmpassword = this.value; // 'this' refers to the confirmpassword input field
        const message = document.getElementById('message');

        // Password validation
        if (password.length !== 0) {
            if (password === confirmpassword) {
                message.textContent = "Passwords are matching";
                message.style.display = "inline-block";
                message.style.color = "#008000"; // Green
            } else {
                message.textContent = "Passwords don't match";
                message.style.display = "inline-block";
                message.style.color = "#ff0000"; // Red
            }
        } else {
            message.textContent = "Password cannot be empty";
            message.style.display = "inline-block";
            message.style.color = "#ff0000";
        }
    });


    const handleRegistrationSubmit = async () => {

        const name = document.querySelector('name').value;
        const email = document.querySelector('email').value;
        const password = document.querySelector('password').value;
        const confirmpassword = document.querySelector('confirmpassword').value;

        const response = await fetch('/register', {
            method: 'POST',
            headers: {
                'Content-Type': 'application/json'
            },
            body: JSON.stringify({ name, email, password, confirmpassword }),
        });

        const data = await response.json();

        if (data.success === true) {
            console.log('User registered successfully!');
            window.location.href = '/login';
        } else {
            console.log('Registration failed!');
        }
    };

</script>

</html>