<!DOCTYPE html>
<html>

<head>
    <title>Reset Password</title>
</head>

<body>
    <h2 style="text-align: center; margin-top: 20px; margin-bottom: 16px;">
        Reset Password
    </h2>
    <form id="resetPasswordForm" style="width: 480px; margin: 0 auto; padding: 30px; margin-top: 55px;
    box-shadow: 2px 2px 3px rgba(0, 0, 0, 0.5); border-radius: 10px; background: white;">
        <label for="password" style="display: block; font-weight: bold; margin: 20px 0 10px;">
            New Password:
        </label>
        <input type="password" id="password" name="password" style=" padding: 10px 12px; border-radius: 4px; border: 1px solid #ddd; 
        font-size: 1em; width: 100%;" required>

        <label for="confirmPassword" style="display: block; font-weight: bold; margin: 20px 0 10px;">
            Confirm Password:
        </label>
        <input type="password" id="confirmPassword" name="confirmPassword" style=" padding: 10px 12px; border-radius: 4px; 
        border: 1px solid #ddd; font-size: 1em; width: 100%;" required>

        <button type="submit"
            style=" margin-top: 30px; border-radius: 20px; background: black; color: white; border: 0; text-transform: uppercase;
        font-weight: 700; font-size: 0.8em; display: block; padding: 15px 16px; letter-spacing: 2px; text-align: center;cursor: pointer;">
            Reset Password
        </button>
    </form>
    <p id="responseMessage" style="margin: 10px 0; display: inline-block; color: white; padding: 15px 20px; border-radius: 8px;
    font-size: 17px; font-weight: 600;"></p>

    <script>
        const token = new URLSearchParams(window.location.search).get('token');

        document.getElementById('resetPasswordForm').addEventListener('submit', async (e) => {
            e.preventDefault();

            const password = document.getElementById('password').value;
            const confirmPassword = document.getElementById('confirmPassword').value;

            if (password !== confirmPassword) {
                document.getElementById('responseMessage').innerText = "Passwords do not match!";
                return;
            }

            const response = await fetch(`/reset-password/${token}`, {
                method: 'POST',
                headers: {
                    'Content-Type': 'application/json'
                },
                body: JSON.stringify({ password: password, confirmpassword: confirmPassword }),
            });

            const data = await response.json();
            document.getElementById('responseMessage').innerText = data.message;

            if (data.success) {
                console.log('Password reset successfully! Redirecting to login...');
                window.location.href = '/login';
            } else {
                console.log("Password reset failed...");
            }
        });
    </script>
</body>

</html>